body {
    width: 1024px;
    margin: 0 auto;
    margin-top: 100px;
}

#service_name {
    background-color: lightgray;
    height: 80px;
    width: 250px;
    float: left;
    font-size: 30px;
}

#login_btn {
    background-color: lightgray;
    height: 80px;
    width: 80px;
    float: right;
}

#menu_btn {
    background-color: lightgray;
    height: 80px;
    width: 80px;
    float: right;
}

#box2 {
    position: relative;
    margin: auto;
    width: 600px;
    height: 400px;
    text-align: center;
}